BasedOnStyle: LLVM
MaxEmptyLinesToKeep: '1'
AlignAfterOpenBracket: 'DontAlign'
AllowAllArgumentsOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: 'All'
AllowShortIfStatementsOnASingleLine: WithoutElse
TabWidth: '2'
